<form action="/signup" method="POST">
	<label for="userName"> username: </label>
	<input type="text" name="userName">
<br>
	<label for="email">email: </label>
    <input type="email" name="email"></input>
<br>
	<label for="password">password: </label>
    <input type="password" name="password"></input>
    <input type="submit"></input>
</form>